In [1]:
import pandas as pd
import numpy as np
data = pd.read_excel("SuperLighData.xlsx")
data.head()

,Number,Subject,Ethnicity,Gender,Circumference,OETT top,OETT bottom,IPD,Left,Right,Unnamed: 10,**DATE,Unnamed: 12,Pictures**
0,NaN,Group A (Large Heads),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
1,1.0,Mike D,Caucasian,M,61.7,13.3,13.4,61.0,31.0,30.0,NaN,2017-08-22,NaN,NaN
2,2.0,Nathan F,Caucasian,M,59.4,14.1,14.2,60.5,31.5,29.0,NaN,2017-08-22,NaN,NaN
3,3.0,George Janour,Caucasian,M,59.1,14.2,14.5,61.5,31.0,30.5,NaN,2017-08-23,NaN,NaN
4,4.0,Tayo Akanni,African,M,61.1,12.4,12.7,71.0,34.5,36.5,NaN,2017-08-23,NaN,NaN

In [2]:
data.shape()

TypeError: 'tuple' object is not callable

In [3]:
data.shape(,)

SyntaxError: invalid syntax (<ipython-input-3-d4717835d9e9>, line 1)

In [4]:
var = data.shape()

TypeError: 'tuple' object is not callable

In [5]:
data.head(1)

,Number,Subject,Ethnicity,Gender,Circumference,OETT top,OETT bottom,IPD,Left,Right,Unnamed: 10,**DATE,Unnamed: 12,Pictures**
0,NaN,Group A (Large Heads),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN

In [6]:
data.mean()

Number            5.500000
Circumference    59.680000
OETT top         13.926667
OETT bottom      14.280000
IPD              64.966667
Left             32.766667
Right            32.200000
Unnamed: 10            NaN
Unnamed: 12            NaN
dtype: float64

In [7]:
print data

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-7-c5fe3b56b038>, line 1)

In [8]:
print() data

SyntaxError: invalid syntax (<ipython-input-8-c56bac3bcbbd>, line 1)

In [9]:
print(data)

    Number                Subject    Ethnicity Gender  Circumference  \
0      NaN  Group A (Large Heads)          NaN    NaN            NaN
1      1.0                 Mike D    Caucasian      M           61.7
2      2.0               Nathan F    Caucasian      M           59.4
3      3.0          George Janour  Caucasian        M           59.1
4      4.0            Tayo Akanni     African       M           61.1
5      5.0           Nick Antony    Caucasian      M            59.6
6      6.0           Bill Bradley     African      M            59.6
7      7.0            Edward Mina    Caucasian      M           59.5
8      8.0          Mark Eastwood    Caucasian      M           61.5
9      9.0        Matthew Beasley    Caucasian      M           61.0
10    10.0                    NaN          NaN    NaN            NaN
11     NaN                    NaN          NaN    NaN            NaN
12     NaN                    NaN          NaN    NaN            NaN
13     NaN                    NaN          NaN    NaN            NaN
14     NaN                    NaN          NaN    NaN            NaN
15     NaN         Group B Asian           NaN    NaN            NaN
16     NaN                    NaN          NaN    NaN            NaN
17     NaN                    NaN          NaN    NaN            NaN
18     1.0               Rob Lee       Korean       M           58.9
19     2.0           Ron Espritu     Phllipino      M           58.4
20     3.0             Brendan H      Chinese       M           60.6
21     4.0       Anirudh Bhargava      Indian       M           59.2
22     5.0                 Vivek       Indian       M           59.0
23     6.0                    NaN          NaN    NaN            NaN
24     7.0                    NaN          NaN    NaN            NaN
25     8.0                    NaN          NaN    NaN            NaN
26     9.0                    NaN          NaN    NaN            NaN
27    10.0                    NaN          NaN    NaN            NaN
28     NaN                 Amery      Chinese      M            56.6

    OETT top  OETT bottom   IPD  Left  Right  Unnamed: 10     **DATE  \
0        NaN          NaN   NaN   NaN    NaN          NaN        NaT
1       13.3         13.4  61.0  31.0   30.0          NaN 2017-08-22
2       14.1         14.2  60.5  31.5   29.0          NaN 2017-08-22
3       14.2         14.5  61.5  31.0   30.5          NaN 2017-08-23
4       12.4         12.7  71.0  34.5   36.5          NaN 2017-08-23
5       14.1         13.4  63.5  32.0   31.5          NaN 2017-08-23
6       13.9         14.4  69.0  36.5   32.5          NaN 2017-08-24
7       14.3         14.3  64.0  33.0   31.0          NaN 2017-08-28
8       13.2         14.2  67.5  33.5   34.0          NaN        NaT
9       14.3         14.5  67.5  33.5   34.0          NaN        NaT
10       NaN          NaN   NaN   NaN    NaN          NaN        NaT
11       NaN          NaN   NaN   NaN    NaN          NaN        NaT
12       NaN          NaN   NaN   NaN    NaN          NaN        NaT
13       NaN          NaN   NaN   NaN    NaN          NaN        NaT
14       NaN          NaN   NaN   NaN    NaN          NaN        NaT
15       NaN          NaN   NaN   NaN    NaN          NaN        NaT
16       NaN          NaN   NaN   NaN    NaN          NaN        NaT
17       NaN          NaN   NaN   NaN    NaN          NaN        NaT
18      14.2         14.9  61.0  31.0   30.0          NaN 2017-08-23
19      14.7         14.8  64.5  32.5   32.0          NaN 2017-08-23
20      14.2         16.1  73.5  36.5   37.0          NaN 2017-08-22
21      13.8         13.9  65.5  33.0   32.5          NaN 2017-08-23
22      14.1         14.3  59.5  29.5   30.0          NaN 2017-08-22
23       NaN          NaN   NaN   NaN    NaN          NaN        NaT
24       NaN          NaN   NaN   NaN    NaN          NaN        NaT
25       NaN          NaN   NaN   NaN    NaN          NaN        NaT
26       NaN          NaN   NaN   NaN    NaN          NaN        NaT
27       NaN          NaN   NaN   NaN    NaN          NaN        NaT
28      14.1         14.6  65.0  32.5   32.5          NaN 2017-08-22

    Unnamed: 12          Pictures**
0           NaN                 NaN
1           NaN                 NaN
2           NaN                 NaN
3           NaN                 NaN
4           NaN                 NaN
5           NaN                 NaN
6           NaN                 NaN
7           NaN                 NaN
8           NaN                 NaN
9           NaN  get pics from him
10          NaN                 NaN
11          NaN                 NaN
12          NaN                 NaN
13          NaN                 NaN
14          NaN                 NaN
15          NaN                 NaN
16          NaN                 NaN
17          NaN                 NaN
18          NaN                 NaN
19          NaN                 NaN
20          NaN                 NaN
21          NaN                 NaN
22          NaN                 NaN
23          NaN                 NaN
24          NaN                 NaN
25          NaN                 NaN
26          NaN                 NaN
27          NaN                 NaN
28          NaN                 NaN

In [10]:
import pandas as pd
import numpy as np
data = pd.read_excel("SuperLighData.xlsx", nrows = 12)
print data

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-10-331c4b376418>, line 4)

In [11]:
print(data)

    Number                Subject    Ethnicity Gender  Circumference  \
0      NaN  Group A (Large Heads)          NaN    NaN            NaN
1      1.0                 Mike D    Caucasian      M           61.7
2      2.0               Nathan F    Caucasian      M           59.4
3      3.0          George Janour  Caucasian        M           59.1
4      4.0            Tayo Akanni     African       M           61.1
5      5.0           Nick Antony    Caucasian      M            59.6
6      6.0           Bill Bradley     African      M            59.6
7      7.0            Edward Mina    Caucasian      M           59.5
8      8.0          Mark Eastwood    Caucasian      M           61.5
9      9.0        Matthew Beasley    Caucasian      M           61.0
10    10.0                    NaN          NaN    NaN            NaN
11     NaN                    NaN          NaN    NaN            NaN
12     NaN                    NaN          NaN    NaN            NaN
13     NaN                    NaN          NaN    NaN            NaN
14     NaN                    NaN          NaN    NaN            NaN
15     NaN         Group B Asian           NaN    NaN            NaN
16     NaN                    NaN          NaN    NaN            NaN
17     NaN                    NaN          NaN    NaN            NaN
18     1.0               Rob Lee       Korean       M           58.9
19     2.0           Ron Espritu     Phllipino      M           58.4
20     3.0             Brendan H      Chinese       M           60.6
21     4.0       Anirudh Bhargava      Indian       M           59.2
22     5.0                 Vivek       Indian       M           59.0
23     6.0                    NaN          NaN    NaN            NaN
24     7.0                    NaN          NaN    NaN            NaN
25     8.0                    NaN          NaN    NaN            NaN
26     9.0                    NaN          NaN    NaN            NaN
27    10.0                    NaN          NaN    NaN            NaN
28     NaN                 Amery      Chinese      M            56.6

    OETT top  OETT bottom   IPD  Left  Right  Unnamed: 10     **DATE  \
0        NaN          NaN   NaN   NaN    NaN          NaN        NaT
1       13.3         13.4  61.0  31.0   30.0          NaN 2017-08-22
2       14.1         14.2  60.5  31.5   29.0          NaN 2017-08-22
3       14.2         14.5  61.5  31.0   30.5          NaN 2017-08-23
4       12.4         12.7  71.0  34.5   36.5          NaN 2017-08-23
5       14.1         13.4  63.5  32.0   31.5          NaN 2017-08-23
6       13.9         14.4  69.0  36.5   32.5          NaN 2017-08-24
7       14.3         14.3  64.0  33.0   31.0          NaN 2017-08-28
8       13.2         14.2  67.5  33.5   34.0          NaN        NaT
9       14.3         14.5  67.5  33.5   34.0          NaN        NaT
10       NaN          NaN   NaN   NaN    NaN          NaN        NaT
11       NaN          NaN   NaN   NaN    NaN          NaN        NaT
12       NaN          NaN   NaN   NaN    NaN          NaN        NaT
13       NaN          NaN   NaN   NaN    NaN          NaN        NaT
14       NaN          NaN   NaN   NaN    NaN          NaN        NaT
15       NaN          NaN   NaN   NaN    NaN          NaN        NaT
16       NaN          NaN   NaN   NaN    NaN          NaN        NaT
17       NaN          NaN   NaN   NaN    NaN          NaN        NaT
18      14.2         14.9  61.0  31.0   30.0          NaN 2017-08-23
19      14.7         14.8  64.5  32.5   32.0          NaN 2017-08-23
20      14.2         16.1  73.5  36.5   37.0          NaN 2017-08-22
21      13.8         13.9  65.5  33.0   32.5          NaN 2017-08-23
22      14.1         14.3  59.5  29.5   30.0          NaN 2017-08-22
23       NaN          NaN   NaN   NaN    NaN          NaN        NaT
24       NaN          NaN   NaN   NaN    NaN          NaN        NaT
25       NaN          NaN   NaN   NaN    NaN          NaN        NaT
26       NaN          NaN   NaN   NaN    NaN          NaN        NaT
27       NaN          NaN   NaN   NaN    NaN          NaN        NaT
28      14.1         14.6  65.0  32.5   32.5          NaN 2017-08-22

    Unnamed: 12          Pictures**
0           NaN                 NaN
1           NaN                 NaN
2           NaN                 NaN
3           NaN                 NaN
4           NaN                 NaN
5           NaN                 NaN
6           NaN                 NaN
7           NaN                 NaN
8           NaN                 NaN
9           NaN  get pics from him
10          NaN                 NaN
11          NaN                 NaN
12          NaN                 NaN
13          NaN                 NaN
14          NaN                 NaN
15          NaN                 NaN
16          NaN                 NaN
17          NaN                 NaN
18          NaN                 NaN
19          NaN                 NaN
20          NaN                 NaN
21          NaN                 NaN
22          NaN                 NaN
23          NaN                 NaN
24          NaN                 NaN
25          NaN                 NaN
26          NaN                 NaN
27          NaN                 NaN
28          NaN                 NaN

In [12]:
import pandas as pd
import numpy as np
data = pd.read_excel("SuperLighData.xlsx", nrows = 12)
print(data)

    Number                Subject    Ethnicity Gender  Circumference  \
0      NaN  Group A (Large Heads)          NaN    NaN            NaN
1      1.0                 Mike D    Caucasian      M           61.7
2      2.0               Nathan F    Caucasian      M           59.4
3      3.0          George Janour  Caucasian        M           59.1
4      4.0            Tayo Akanni     African       M           61.1
5      5.0           Nick Antony    Caucasian      M            59.6
6      6.0           Bill Bradley     African      M            59.6
7      7.0            Edward Mina    Caucasian      M           59.5
8      8.0          Mark Eastwood    Caucasian      M           61.5
9      9.0        Matthew Beasley    Caucasian      M           61.0
10    10.0                    NaN          NaN    NaN            NaN
11     NaN                    NaN          NaN    NaN            NaN
12     NaN                    NaN          NaN    NaN            NaN
13     NaN                    NaN          NaN    NaN            NaN
14     NaN                    NaN          NaN    NaN            NaN
15     NaN         Group B Asian           NaN    NaN            NaN
16     NaN                    NaN          NaN    NaN            NaN
17     NaN                    NaN          NaN    NaN            NaN
18     1.0               Rob Lee       Korean       M           58.9
19     2.0           Ron Espritu     Phllipino      M           58.4
20     3.0             Brendan H      Chinese       M           60.6
21     4.0       Anirudh Bhargava      Indian       M           59.2
22     5.0                 Vivek       Indian       M           59.0
23     6.0                    NaN          NaN    NaN            NaN
24     7.0                    NaN          NaN    NaN            NaN
25     8.0                    NaN          NaN    NaN            NaN
26     9.0                    NaN          NaN    NaN            NaN
27    10.0                    NaN          NaN    NaN            NaN
28     NaN                 Amery      Chinese      M            56.6

    OETT top  OETT bottom   IPD  Left  Right  Unnamed: 10     **DATE  \
0        NaN          NaN   NaN   NaN    NaN          NaN        NaT
1       13.3         13.4  61.0  31.0   30.0          NaN 2017-08-22
2       14.1         14.2  60.5  31.5   29.0          NaN 2017-08-22
3       14.2         14.5  61.5  31.0   30.5          NaN 2017-08-23
4       12.4         12.7  71.0  34.5   36.5          NaN 2017-08-23
5       14.1         13.4  63.5  32.0   31.5          NaN 2017-08-23
6       13.9         14.4  69.0  36.5   32.5          NaN 2017-08-24
7       14.3         14.3  64.0  33.0   31.0          NaN 2017-08-28
8       13.2         14.2  67.5  33.5   34.0          NaN        NaT
9       14.3         14.5  67.5  33.5   34.0          NaN        NaT
10       NaN          NaN   NaN   NaN    NaN          NaN        NaT
11       NaN          NaN   NaN   NaN    NaN          NaN        NaT
12       NaN          NaN   NaN   NaN    NaN          NaN        NaT
13       NaN          NaN   NaN   NaN    NaN          NaN        NaT
14       NaN          NaN   NaN   NaN    NaN          NaN        NaT
15       NaN          NaN   NaN   NaN    NaN          NaN        NaT
16       NaN          NaN   NaN   NaN    NaN          NaN        NaT
17       NaN          NaN   NaN   NaN    NaN          NaN        NaT
18      14.2         14.9  61.0  31.0   30.0          NaN 2017-08-23
19      14.7         14.8  64.5  32.5   32.0          NaN 2017-08-23
20      14.2         16.1  73.5  36.5   37.0          NaN 2017-08-22
21      13.8         13.9  65.5  33.0   32.5          NaN 2017-08-23
22      14.1         14.3  59.5  29.5   30.0          NaN 2017-08-22
23       NaN          NaN   NaN   NaN    NaN          NaN        NaT
24       NaN          NaN   NaN   NaN    NaN          NaN        NaT
25       NaN          NaN   NaN   NaN    NaN          NaN        NaT
26       NaN          NaN   NaN   NaN    NaN          NaN        NaT
27       NaN          NaN   NaN   NaN    NaN          NaN        NaT
28      14.1         14.6  65.0  32.5   32.5          NaN 2017-08-22

    Unnamed: 12          Pictures**
0           NaN                 NaN
1           NaN                 NaN
2           NaN                 NaN
3           NaN                 NaN
4           NaN                 NaN
5           NaN                 NaN
6           NaN                 NaN
7           NaN                 NaN
8           NaN                 NaN
9           NaN  get pics from him
10          NaN                 NaN
11          NaN                 NaN
12          NaN                 NaN
13          NaN                 NaN
14          NaN                 NaN
15          NaN                 NaN
16          NaN                 NaN
17          NaN                 NaN
18          NaN                 NaN
19          NaN                 NaN
20          NaN                 NaN
21          NaN                 NaN
22          NaN                 NaN
23          NaN                 NaN
24          NaN                 NaN
25          NaN                 NaN
26          NaN                 NaN
27          NaN                 NaN
28          NaN                 NaN

In [13]:
import pandas as pd
import numpy as np
data = pd.read_excel("SuperLighData.xlsx", skip_footer = 15)
print data

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-13-a2461fa10e10>, line 4)

In [14]:
import pandas as pd
import numpy as np
data = pd.read_excel("SuperLighData.xlsx", skip_footer = 16)
print(data)

    Number                Subject    Ethnicity Gender  Circumference  \
0      NaN  Group A (Large Heads)          NaN    NaN            NaN
1      1.0                 Mike D    Caucasian      M           61.7
2      2.0               Nathan F    Caucasian      M           59.4
3      3.0          George Janour  Caucasian        M           59.1
4      4.0            Tayo Akanni     African       M           61.1
5      5.0           Nick Antony    Caucasian      M            59.6
6      6.0           Bill Bradley     African      M            59.6
7      7.0            Edward Mina    Caucasian      M           59.5
8      8.0          Mark Eastwood    Caucasian      M           61.5
9      9.0        Matthew Beasley    Caucasian      M           61.0
10    10.0                    NaN          NaN    NaN            NaN
11     NaN                    NaN          NaN    NaN            NaN
12     NaN                    NaN          NaN    NaN            NaN

    OETT top  OETT bottom   IPD  Left  Right  Unnamed: 10     **DATE  \
0        NaN          NaN   NaN   NaN    NaN          NaN        NaT
1       13.3         13.4  61.0  31.0   30.0          NaN 2017-08-22
2       14.1         14.2  60.5  31.5   29.0          NaN 2017-08-22
3       14.2         14.5  61.5  31.0   30.5          NaN 2017-08-23
4       12.4         12.7  71.0  34.5   36.5          NaN 2017-08-23
5       14.1         13.4  63.5  32.0   31.5          NaN 2017-08-23
6       13.9         14.4  69.0  36.5   32.5          NaN 2017-08-24
7       14.3         14.3  64.0  33.0   31.0          NaN 2017-08-28
8       13.2         14.2  67.5  33.5   34.0          NaN        NaT
9       14.3         14.5  67.5  33.5   34.0          NaN        NaT
10       NaN          NaN   NaN   NaN    NaN          NaN        NaT
11       NaN          NaN   NaN   NaN    NaN          NaN        NaT
12       NaN          NaN   NaN   NaN    NaN          NaN        NaT

    Unnamed: 12          Pictures**
0           NaN                 NaN
1           NaN                 NaN
2           NaN                 NaN
3           NaN                 NaN
4           NaN                 NaN
5           NaN                 NaN
6           NaN                 NaN
7           NaN                 NaN
8           NaN                 NaN
9           NaN  get pics from him
10          NaN                 NaN
11          NaN                 NaN
12          NaN                 NaN

In [15]:
import pandas as pd
import numpy as np
data = pd.read_excel("SuperLighData.xlsx", skip_footer = 14)
print(data)

    Number                Subject    Ethnicity Gender  Circumference  \
0      NaN  Group A (Large Heads)          NaN    NaN            NaN
1      1.0                 Mike D    Caucasian      M           61.7
2      2.0               Nathan F    Caucasian      M           59.4
3      3.0          George Janour  Caucasian        M           59.1
4      4.0            Tayo Akanni     African       M           61.1
5      5.0           Nick Antony    Caucasian      M            59.6
6      6.0           Bill Bradley     African      M            59.6
7      7.0            Edward Mina    Caucasian      M           59.5
8      8.0          Mark Eastwood    Caucasian      M           61.5
9      9.0        Matthew Beasley    Caucasian      M           61.0
10    10.0                    NaN          NaN    NaN            NaN
11     NaN                    NaN          NaN    NaN            NaN
12     NaN                    NaN          NaN    NaN            NaN
13     NaN                    NaN          NaN    NaN            NaN
14     NaN                    NaN          NaN    NaN            NaN

    OETT top  OETT bottom   IPD  Left  Right  Unnamed: 10     **DATE  \
0        NaN          NaN   NaN   NaN    NaN          NaN        NaT
1       13.3         13.4  61.0  31.0   30.0          NaN 2017-08-22
2       14.1         14.2  60.5  31.5   29.0          NaN 2017-08-22
3       14.2         14.5  61.5  31.0   30.5          NaN 2017-08-23
4       12.4         12.7  71.0  34.5   36.5          NaN 2017-08-23
5       14.1         13.4  63.5  32.0   31.5          NaN 2017-08-23
6       13.9         14.4  69.0  36.5   32.5          NaN 2017-08-24
7       14.3         14.3  64.0  33.0   31.0          NaN 2017-08-28
8       13.2         14.2  67.5  33.5   34.0          NaN        NaT
9       14.3         14.5  67.5  33.5   34.0          NaN        NaT
10       NaN          NaN   NaN   NaN    NaN          NaN        NaT
11       NaN          NaN   NaN   NaN    NaN          NaN        NaT
12       NaN          NaN   NaN   NaN    NaN          NaN        NaT
13       NaN          NaN   NaN   NaN    NaN          NaN        NaT
14       NaN          NaN   NaN   NaN    NaN          NaN        NaT

    Unnamed: 12          Pictures**
0           NaN                 NaN
1           NaN                 NaN
2           NaN                 NaN
3           NaN                 NaN
4           NaN                 NaN
5           NaN                 NaN
6           NaN                 NaN
7           NaN                 NaN
8           NaN                 NaN
9           NaN  get pics from him
10          NaN                 NaN
11          NaN                 NaN
12          NaN                 NaN
13          NaN                 NaN
14          NaN                 NaN

In [16]:
import pandas as pd
import numpy as np
data = pd.read_excel("SuperLighData.xlsx", skip_footer = 18)
print(data)

    Number                Subject    Ethnicity Gender  Circumference  \
0      NaN  Group A (Large Heads)          NaN    NaN            NaN
1      1.0                 Mike D    Caucasian      M           61.7
2      2.0               Nathan F    Caucasian      M           59.4
3      3.0          George Janour  Caucasian        M           59.1
4      4.0            Tayo Akanni     African       M           61.1
5      5.0           Nick Antony    Caucasian      M            59.6
6      6.0           Bill Bradley     African      M            59.6
7      7.0            Edward Mina    Caucasian      M           59.5
8      8.0          Mark Eastwood    Caucasian      M           61.5
9      9.0        Matthew Beasley    Caucasian      M           61.0
10    10.0                    NaN          NaN    NaN            NaN

    OETT top  OETT bottom   IPD  Left  Right  Unnamed: 10     **DATE  \
0        NaN          NaN   NaN   NaN    NaN          NaN        NaT
1       13.3         13.4  61.0  31.0   30.0          NaN 2017-08-22
2       14.1         14.2  60.5  31.5   29.0          NaN 2017-08-22
3       14.2         14.5  61.5  31.0   30.5          NaN 2017-08-23
4       12.4         12.7  71.0  34.5   36.5          NaN 2017-08-23
5       14.1         13.4  63.5  32.0   31.5          NaN 2017-08-23
6       13.9         14.4  69.0  36.5   32.5          NaN 2017-08-24
7       14.3         14.3  64.0  33.0   31.0          NaN 2017-08-28
8       13.2         14.2  67.5  33.5   34.0          NaN        NaT
9       14.3         14.5  67.5  33.5   34.0          NaN        NaT
10       NaN          NaN   NaN   NaN    NaN          NaN        NaT

    Unnamed: 12          Pictures**
0           NaN                 NaN
1           NaN                 NaN
2           NaN                 NaN
3           NaN                 NaN
4           NaN                 NaN
5           NaN                 NaN
6           NaN                 NaN
7           NaN                 NaN
8           NaN                 NaN
9           NaN  get pics from him
10          NaN                 NaN

In [17]:
import pandas as pd
import numpy as np
data = pd.read_excel("SuperLighData.xlsx", skiprows = 19)
print(data)

      1          Rob Lee     Korean     M  58.9  14.2  14.9    61    31    30  \
0   2.0      Ron Espritu   Phllipino    M  58.4  14.7  14.8  64.5  32.5  32.0
1   3.0        Brendan H    Chinese     M  60.6  14.2  16.1  73.5  36.5  37.0
2   4.0  Anirudh Bhargava    Indian     M  59.2  13.8  13.9  65.5  33.0  32.5
3   5.0            Vivek     Indian     M  59.0  14.1  14.3  59.5  29.5  30.0
4   6.0               NaN        NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
5   7.0               NaN        NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
6   8.0               NaN        NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
7   9.0               NaN        NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
8  10.0               NaN        NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
9   NaN            Amery    Chinese    M   56.6  14.1  14.6  65.0  32.5  32.5

   Unnamed: 10 2017-08-23 00:00:00  Unnamed: 12  Unnamed: 13
0          NaN          2017-08-23          NaN          NaN
1          NaN          2017-08-22          NaN          NaN
2          NaN          2017-08-23          NaN          NaN
3          NaN          2017-08-22          NaN          NaN
4          NaN                 NaT          NaN          NaN
5          NaN                 NaT          NaN          NaN
6          NaN                 NaT          NaN          NaN
7          NaN                 NaT          NaN          NaN
8          NaN                 NaT          NaN          NaN
9          NaN          2017-08-22          NaN          NaN

In [18]:
import pandas as pd
import numpy as np

#reads in non-asian heads data 
ndata = pd.read_excel("SuperLighData.xlsx", skip_footer = 18)
print(ndata)

#reads in asian heads data 
adata = pd.read_excel("SuperLighData.xlsx", skiprows = 19)
print(adata)

    Number                Subject    Ethnicity Gender  Circumference  \
0      NaN  Group A (Large Heads)          NaN    NaN            NaN
1      1.0                 Mike D    Caucasian      M           61.7
2      2.0               Nathan F    Caucasian      M           59.4
3      3.0          George Janour  Caucasian        M           59.1
4      4.0            Tayo Akanni     African       M           61.1
5      5.0           Nick Antony    Caucasian      M            59.6
6      6.0           Bill Bradley     African      M            59.6
7      7.0            Edward Mina    Caucasian      M           59.5
8      8.0          Mark Eastwood    Caucasian      M           61.5
9      9.0        Matthew Beasley    Caucasian      M           61.0
10    10.0                    NaN          NaN    NaN            NaN

    OETT top  OETT bottom   IPD  Left  Right  Unnamed: 10     **DATE  \
0        NaN          NaN   NaN   NaN    NaN          NaN        NaT
1       13.3         13.4  61.0  31.0   30.0          NaN 2017-08-22
2       14.1         14.2  60.5  31.5   29.0          NaN 2017-08-22
3       14.2         14.5  61.5  31.0   30.5          NaN 2017-08-23
4       12.4         12.7  71.0  34.5   36.5          NaN 2017-08-23
5       14.1         13.4  63.5  32.0   31.5          NaN 2017-08-23
6       13.9         14.4  69.0  36.5   32.5          NaN 2017-08-24
7       14.3         14.3  64.0  33.0   31.0          NaN 2017-08-28
8       13.2         14.2  67.5  33.5   34.0          NaN        NaT
9       14.3         14.5  67.5  33.5   34.0          NaN        NaT
10       NaN          NaN   NaN   NaN    NaN          NaN        NaT

    Unnamed: 12          Pictures**
0           NaN                 NaN
1           NaN                 NaN
2           NaN                 NaN
3           NaN                 NaN
4           NaN                 NaN
5           NaN                 NaN
6           NaN                 NaN
7           NaN                 NaN
8           NaN                 NaN
9           NaN  get pics from him
10          NaN                 NaN
      1          Rob Lee     Korean     M  58.9  14.2  14.9    61    31    30  \
0   2.0      Ron Espritu   Phllipino    M  58.4  14.7  14.8  64.5  32.5  32.0
1   3.0        Brendan H    Chinese     M  60.6  14.2  16.1  73.5  36.5  37.0
2   4.0  Anirudh Bhargava    Indian     M  59.2  13.8  13.9  65.5  33.0  32.5
3   5.0            Vivek     Indian     M  59.0  14.1  14.3  59.5  29.5  30.0
4   6.0               NaN        NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
5   7.0               NaN        NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
6   8.0               NaN        NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
7   9.0               NaN        NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
8  10.0               NaN        NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
9   NaN            Amery    Chinese    M   56.6  14.1  14.6  65.0  32.5  32.5

   Unnamed: 10 2017-08-23 00:00:00  Unnamed: 12  Unnamed: 13
0          NaN          2017-08-23          NaN          NaN
1          NaN          2017-08-22          NaN          NaN
2          NaN          2017-08-23          NaN          NaN
3          NaN          2017-08-22          NaN          NaN
4          NaN                 NaT          NaN          NaN
5          NaN                 NaT          NaN          NaN
6          NaN                 NaT          NaN          NaN
7          NaN                 NaT          NaN          NaN
8          NaN                 NaT          NaN          NaN
9          NaN          2017-08-22          NaN          NaN

In [38]:
import pandas as pd
import numpy as np

#reads in non-asian heads data 
ndata = pd.read_excel("SuperLighData.xlsx", skip_footer = 16)
print(ndata)
print("Circumference data is: " , ndata["Circumference"].sum(), ndata["Circumference"].mean(), ndata["Circumference"].min(), ndata["Circumference"].max(), ndata["Circumference"].std(), ndata["Circumference"].std()**2)
print("OETT top data is: " , ndata["OETT top"].sum(), ndata["OETT top"].mean(), ndata["OETT top"].min(), ndata["OETT top"].max(), ndata["OETT top"].std(), ndata["OETT top"].std()**2)
print("OETT bottom data is: " , ndata["OETT bottom"].sum(), ndata["OETT bottom"].mean(), ndata["OETT bottom"].min(), ndata["OETT bottom"].max(), ndata["OETT bottom"].std(), ndata["OETT bottom"].std()**2)
print("IPD data is: " , ndata["IPD"].sum(), ndata["IPD"].mean(), ndata["IPD"].min(), ndata["IPD"].max(), ndata["IPD"].std(), ndata["IPD"].std()**2)
print("IPD Left data is: " , ndata["Left"].sum(), adata["Left"].mean(),adata["Left"].min(),adata["Left"].max(), adata["Left"].std(), ndata["Left"].std()**2)
print("IPD Right data is: " , ndata["Right"].sum(), adata["Right"].mean(),adata["Right"].min(),adata["Right"].max(), adata["Right"].std(), adata["Right"].std()**2)
nn = 9 

#reads in asian heads data 
adata = pd.read_excel("SuperLighData.xlsx", skiprows = 15)
print(adata)
print("Circumference data is: " , adata["Circumference"].sum(), adata["Circumference"].mean(),adata["Circumference"].min(),adata["Circumference"].max(), adata["Circumference"].std(), adata["Circumference"].std()**2)
print("OETT top data is: " , adata["OETT top"].sum(), adata["OETT top"].mean(),adata["OETT top"].min(),adata["OETT top"].max(), adata["OETT top"].std(), adata["OETT top"].std()**2)
print("OETT bottom data is: " , adata["OETT bottom"].sum(), adata["OETT bottom"].mean(),adata["OETT bottom"].min(),adata["OETT bottom"].max(), adata["OETT bottom"].std(), adata["OETT bottom"].std()**2)
print("IPD data is: " , adata["IPD"].sum(), adata["IPD"].mean(),adata["IPD"].min(),adata["IPD"].max(), adata["IPD"].std(), adata["IPD"].std()**2)
print("IPD Left data is: " , adata["Left"].sum(), adata["Left"].mean(),adata["Left"].min(),adata["Left"].max(), adata["Left"].std(), adata["Left"].std()**2)
print("IPD Right data is: " , adata["Right"].sum(), adata["Right"].mean(),adata["Right"].min(),adata["Right"].max(), adata["Right"].std(), adata["Right"].std()**2)
na = 10

   Number                Subject    Ethnicity Gender  Circumference  OETT top  \
0     NaN  Group A (Large Heads)          NaN    NaN            NaN       NaN
1     1.0                 Mike D    Caucasian      M           61.7      13.3
2     2.0               Nathan F    Caucasian      M           59.4      14.1
3     3.0          George Janour  Caucasian        M           59.1      14.2
4     4.0            Tayo Akanni     African       M           61.1      12.4
5     5.0           Nick Antony    Caucasian      M            59.6      14.1
6     6.0           Bill Bradley     African      M            59.6      13.9
7     7.0            Edward Mina    Caucasian      M           59.5      14.3
8     8.0          Mark Eastwood    Caucasian      M           61.5      13.2
9     9.0        Matthew Beasley    Caucasian      M           61.0      14.3

   OETT bottom   IPD  Left  Right  Unnamed: 10     **DATE  Unnamed: 12  \
0          NaN   NaN   NaN    NaN          NaN        NaT          NaN
1         13.4  61.0  31.0   30.0          NaN 2017-08-22          NaN
2         14.2  60.5  31.5   29.0          NaN 2017-08-22          NaN
3         14.5  61.5  31.0   30.5          NaN 2017-08-23          NaN
4         12.7  71.0  34.5   36.5          NaN 2017-08-23          NaN
5         13.4  63.5  32.0   31.5          NaN 2017-08-23          NaN
6         14.4  69.0  36.5   32.5          NaN 2017-08-24          NaN
7         14.3  64.0  33.0   31.0          NaN 2017-08-28          NaN
8         14.2  67.5  33.5   34.0          NaN        NaT          NaN
9         14.5  67.5  33.5   34.0          NaN        NaT          NaN

           Pictures**
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9  get pics from him
Circumference data is:  542.5 60.27777777777778 59.1 61.7 1.0244239573752878 1.0494444444444455
OETT top data is:  123.8 13.755555555555555 12.4 14.3 0.6521332515504616 0.4252777777777777
OETT bottom data is:  125.60000000000001 13.955555555555556 12.7 14.5 0.6346477588219924 0.40277777777777785
IPD data is:  585.5 65.05555555555556 60.5 71.0 3.8115322086764243 14.52777777777778
IPD Left data is:  296.5 33.15 29.5 36.5 2.0282723902101734 3.2777777777777772
IPD Right data is:  289.0 32.55 30.0 37.0 2.2540087745072235 5.080555555555556
    Number               Subject   Ethnicity Gender  Circumference  OETT top  \
0      NaN        Group B Asian          NaN    NaN            NaN       NaN
1      1.0              Rob Lee      Korean       M           58.9      14.2
2      2.0          Ron Espritu    Phllipino      M           58.4      14.7
3      3.0            Brendan H     Chinese       M           60.6      14.2
4      4.0      Anirudh Bhargava     Indian       M           59.2      13.8
5      5.0                Vivek      Indian       M           59.0      14.1
6      6.0      Koushik Banerjee     Indian       M           60.1      14.9
7      7.0  Santhosh Vanaoarthy      Indian      M            59.4      13.8
8      8.0       Uma Anandakumar     Indian       M           59.6      14.1
9      9.0               Han Liu    Chinese       M           59.7      14.8
10    10.0         Shafqat Ahmed  Bangladesh      M           60.5      14.8

    OETT bottom   IPD  Left  Right  Unnamed: 10     **DATE  Unnamed: 12  \
0           NaN   NaN   NaN    NaN          NaN        NaT          NaN
1          14.9  61.0  31.0   30.0          NaN 2017-08-23          NaN
2          14.8  64.5  32.5   32.0          NaN 2017-08-23          NaN
3          16.1  73.5  36.5   37.0          NaN 2017-08-22          NaN
4          13.9  65.5  33.0   32.5          NaN 2017-08-23          NaN
5          14.3  59.5  29.5   30.0          NaN 2017-08-22          NaN
6          14.8  65.0  32.5   32.5          NaN 2017-08-30          NaN
7          13.9  70.0  35.5   34.5          NaN 2017-08-30          NaN
8          14.2  64.0  34.0   30.0          NaN 2017-08-30          NaN
9          15.3  68.0  34.0   34.0          NaN 2017-08-30          NaN
10         14.3  66.0  33.0   33.0          NaN 2017-08-30          NaN

    Pictures**
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
Circumference data is:  595.4000000000001 59.540000000000006 58.4 60.6 0.7089898917944231 0.5026666666666677
OETT top data is:  143.4 14.34 13.8 14.9 0.42216373863966844 0.17822222222222228
OETT bottom data is:  146.50000000000003 14.650000000000002 13.9 16.1 0.6835365551469963 0.4672222222222227
IPD data is:  657.0 65.7 59.5 73.5 4.083843505544475 16.677777777777784
IPD Left data is:  331.5 33.15 29.5 36.5 2.0282723902101734 4.11388888888889
IPD Right data is:  325.5 32.55 30.0 37.0 2.2540087745072235 5.080555555555556

In [46]:
import pandas as pd
import numpy as np
import scipy as sp 

#reads in non-asian heads data 
ndata = pd.read_excel("SuperLighData.xlsx", skip_footer = 16)
print(ndata)
nNonasian = 9 
print()
print()

#reads in asian heads data 
adata = pd.read_excel("SuperLighData.xlsx", skiprows = 15)
print(adata)
nAsian = 10

print()
print()
print("Non-Asian Data Summary")
print("---------------------------")
print("Circumference data is: " , ndata["Circumference"].sum(), ndata["Circumference"].mean(), ndata["Circumference"].min(), ndata["Circumference"].max(), ndata["Circumference"].std(), ndata["Circumference"].std()**2)
print("OETT top data is: " , ndata["OETT top"].sum(), ndata["OETT top"].mean(), ndata["OETT top"].min(), ndata["OETT top"].max(), ndata["OETT top"].std(), ndata["OETT top"].std()**2)
print("OETT bottom data is: " , ndata["OETT bottom"].sum(), ndata["OETT bottom"].mean(), ndata["OETT bottom"].min(), ndata["OETT bottom"].max(), ndata["OETT bottom"].std(), ndata["OETT bottom"].std()**2)
print("IPD data is: " , ndata["IPD"].sum(), ndata["IPD"].mean(), ndata["IPD"].min(), ndata["IPD"].max(), ndata["IPD"].std(), ndata["IPD"].std()**2)
print("IPD Left data is: " , ndata["Left"].sum(), ndata["Left"].mean(),ndata["Left"].min(),ndata["Left"].max(), ndata["Left"].std(), ndata["Left"].std()**2)
print("IPD Right data is: " , ndata["Right"].sum(), ndata["Right"].mean(),ndata["Right"].min(),ndata["Right"].max(), ndata["Right"].std(), ndata["Right"].std()**2)
print()
print()
print("Asian Data Summary")
print("---------------------------")
print("Circumference data is: " , adata["Circumference"].sum(), adata["Circumference"].mean(),adata["Circumference"].min(),adata["Circumference"].max(), adata["Circumference"].std(), adata["Circumference"].std()**2)
print("OETT top data is: " , adata["OETT top"].sum(), adata["OETT top"].mean(),adata["OETT top"].min(),adata["OETT top"].max(), adata["OETT top"].std(), adata["OETT top"].std()**2)
print("OETT bottom data is: " , adata["OETT bottom"].sum(), adata["OETT bottom"].mean(),adata["OETT bottom"].min(),adata["OETT bottom"].max(), adata["OETT bottom"].std(), adata["OETT bottom"].std()**2)
print("IPD data is: " , adata["IPD"].sum(), adata["IPD"].mean(),adata["IPD"].min(),adata["IPD"].max(), adata["IPD"].std(), adata["IPD"].std()**2)
print("IPD Left data is: " , adata["Left"].sum(), adata["Left"].mean(),adata["Left"].min(),adata["Left"].max(), adata["Left"].std(), adata["Left"].std()**2)
print("IPD Right data is: " , adata["Right"].sum(), adata["Right"].mean(),adata["Right"].min(),adata["Right"].max(), adata["Right"].std(), adata["Right"].std()**2)


print("t-test calculations")
print("---------------------------")

   Number                Subject    Ethnicity Gender  Circumference  OETT top  \
0     NaN  Group A (Large Heads)          NaN    NaN            NaN       NaN
1     1.0                 Mike D    Caucasian      M           61.7      13.3
2     2.0               Nathan F    Caucasian      M           59.4      14.1
3     3.0          George Janour  Caucasian        M           59.1      14.2
4     4.0            Tayo Akanni     African       M           61.1      12.4
5     5.0           Nick Antony    Caucasian      M            59.6      14.1
6     6.0           Bill Bradley     African      M            59.6      13.9
7     7.0            Edward Mina    Caucasian      M           59.5      14.3
8     8.0          Mark Eastwood    Caucasian      M           61.5      13.2
9     9.0        Matthew Beasley    Caucasian      M           61.0      14.3

   OETT bottom   IPD  Left  Right  Unnamed: 10     **DATE  Unnamed: 12  \
0          NaN   NaN   NaN    NaN          NaN        NaT          NaN
1         13.4  61.0  31.0   30.0          NaN 2017-08-22          NaN
2         14.2  60.5  31.5   29.0          NaN 2017-08-22          NaN
3         14.5  61.5  31.0   30.5          NaN 2017-08-23          NaN
4         12.7  71.0  34.5   36.5          NaN 2017-08-23          NaN
5         13.4  63.5  32.0   31.5          NaN 2017-08-23          NaN
6         14.4  69.0  36.5   32.5          NaN 2017-08-24          NaN
7         14.3  64.0  33.0   31.0          NaN 2017-08-28          NaN
8         14.2  67.5  33.5   34.0          NaN        NaT          NaN
9         14.5  67.5  33.5   34.0          NaN        NaT          NaN

           Pictures**
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9  get pics from him


    Number               Subject   Ethnicity Gender  Circumference  OETT top  \
0      NaN        Group B Asian          NaN    NaN            NaN       NaN
1      1.0              Rob Lee      Korean       M           58.9      14.2
2      2.0          Ron Espritu    Phllipino      M           58.4      14.7
3      3.0            Brendan H     Chinese       M           60.6      14.2
4      4.0      Anirudh Bhargava     Indian       M           59.2      13.8
5      5.0                Vivek      Indian       M           59.0      14.1
6      6.0      Koushik Banerjee     Indian       M           60.1      14.9
7      7.0  Santhosh Vanaoarthy      Indian      M            59.4      13.8
8      8.0       Uma Anandakumar     Indian       M           59.6      14.1
9      9.0               Han Liu    Chinese       M           59.7      14.8
10    10.0         Shafqat Ahmed  Bangladesh      M           60.5      14.8

    OETT bottom   IPD  Left  Right  Unnamed: 10     **DATE  Unnamed: 12  \
0           NaN   NaN   NaN    NaN          NaN        NaT          NaN
1          14.9  61.0  31.0   30.0          NaN 2017-08-23          NaN
2          14.8  64.5  32.5   32.0          NaN 2017-08-23          NaN
3          16.1  73.5  36.5   37.0          NaN 2017-08-22          NaN
4          13.9  65.5  33.0   32.5          NaN 2017-08-23          NaN
5          14.3  59.5  29.5   30.0          NaN 2017-08-22          NaN
6          14.8  65.0  32.5   32.5          NaN 2017-08-30          NaN
7          13.9  70.0  35.5   34.5          NaN 2017-08-30          NaN
8          14.2  64.0  34.0   30.0          NaN 2017-08-30          NaN
9          15.3  68.0  34.0   34.0          NaN 2017-08-30          NaN
10         14.3  66.0  33.0   33.0          NaN 2017-08-30          NaN

    Pictures**
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN


Non-Asian Data Summary
---------------------------
Circumference data is:  542.5 60.27777777777778 59.1 61.7 1.0244239573752878 1.0494444444444455
OETT top data is:  123.8 13.755555555555555 12.4 14.3 0.6521332515504616 0.4252777777777777
OETT bottom data is:  125.60000000000001 13.955555555555556 12.7 14.5 0.6346477588219924 0.40277777777777785
IPD data is:  585.5 65.05555555555556 60.5 71.0 3.8115322086764243 14.52777777777778
IPD Left data is:  296.5 32.94444444444444 31.0 36.5 1.8104634152000358 3.2777777777777772
IPD Right data is:  289.0 32.111111111111114 29.0 36.5 2.3687784005919825 5.611111111111111


Asian Data Summary
---------------------------
Circumference data is:  595.4000000000001 59.540000000000006 58.4 60.6 0.7089898917944231 0.5026666666666677
OETT top data is:  143.4 14.34 13.8 14.9 0.42216373863966844 0.17822222222222228
OETT bottom data is:  146.50000000000003 14.650000000000002 13.9 16.1 0.6835365551469963 0.4672222222222227
IPD data is:  657.0 65.7 59.5 73.5 4.083843505544475 16.677777777777784
IPD Left data is:  331.5 33.15 29.5 36.5 2.0282723902101734 4.11388888888889
IPD Right data is:  325.5 32.55 30.0 37.0 2.2540087745072235 5.080555555555556
t-test calculations
---------------------------