In [1]:
import pandas as pd
import numpy as np
data = pd.read_excel("SuperLighData.xlsx")
data.head()

,Number,Subject,Ethnicity,Gender,Circumference,OETT top,OETT bottom,IPD,Left,Right,Unnamed: 10,**DATE,Unnamed: 12,Pictures**
0,NaN,Group A (Large Heads),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
1,1.0,Mike D,Caucasian,M,61.7,13.3,13.4,61.0,31.0,30.0,NaN,2017-08-22,NaN,NaN
2,2.0,Nathan F,Caucasian,M,59.4,14.1,14.2,60.5,31.5,29.0,NaN,2017-08-22,NaN,NaN
3,3.0,George Janour,Caucasian,M,59.1,14.2,14.5,61.5,31.0,30.5,NaN,2017-08-23,NaN,NaN
4,4.0,Tayo Akanni,African,M,61.1,12.4,12.7,71.0,34.5,36.5,NaN,2017-08-23,NaN,NaN

In [2]:
data.shape()

TypeError: 'tuple' object is not callable

In [3]:
data.shape(,)

SyntaxError: invalid syntax (<ipython-input-3-d4717835d9e9>, line 1)

In [4]:
var = data.shape()

TypeError: 'tuple' object is not callable

In [5]:
data.head(1)

,Number,Subject,Ethnicity,Gender,Circumference,OETT top,OETT bottom,IPD,Left,Right,Unnamed: 10,**DATE,Unnamed: 12,Pictures**
0,NaN,Group A (Large Heads),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN

In [6]:
data.mean()

Number            5.500000
Circumference    59.680000
OETT top         13.926667
OETT bottom      14.280000
IPD              64.966667
Left             32.766667
Right            32.200000
Unnamed: 10            NaN
Unnamed: 12            NaN
dtype: float64

In [7]:
print data

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-7-c5fe3b56b038>, line 1)

In [8]:
print() data

SyntaxError: invalid syntax (<ipython-input-8-c56bac3bcbbd>, line 1)

In [9]:
print(data)

    Number                Subject    Ethnicity Gender  Circumference  \
0      NaN  Group A (Large Heads)          NaN    NaN            NaN
1      1.0                 Mike D    Caucasian      M           61.7
2      2.0               Nathan F    Caucasian      M           59.4
3      3.0          George Janour  Caucasian        M           59.1
4      4.0            Tayo Akanni     African       M           61.1
5      5.0           Nick Antony    Caucasian      M            59.6
6      6.0           Bill Bradley     African      M            59.6
7      7.0            Edward Mina    Caucasian      M           59.5
8      8.0          Mark Eastwood    Caucasian      M           61.5
9      9.0        Matthew Beasley    Caucasian      M           61.0
10    10.0                    NaN          NaN    NaN            NaN
11     NaN                    NaN          NaN    NaN            NaN
12     NaN                    NaN          NaN    NaN            NaN
13     NaN                    NaN          NaN    NaN            NaN
14     NaN                    NaN          NaN    NaN            NaN
15     NaN         Group B Asian           NaN    NaN            NaN
16     NaN                    NaN          NaN    NaN            NaN
17     NaN                    NaN          NaN    NaN            NaN
18     1.0               Rob Lee       Korean       M           58.9
19     2.0           Ron Espritu     Phllipino      M           58.4
20     3.0             Brendan H      Chinese       M           60.6
21     4.0       Anirudh Bhargava      Indian       M           59.2
22     5.0                 Vivek       Indian       M           59.0
23     6.0                    NaN          NaN    NaN            NaN
24     7.0                    NaN          NaN    NaN            NaN
25     8.0                    NaN          NaN    NaN            NaN
26     9.0                    NaN          NaN    NaN            NaN
27    10.0                    NaN          NaN    NaN            NaN
28     NaN                 Amery      Chinese      M            56.6

    OETT top  OETT bottom   IPD  Left  Right  Unnamed: 10     **DATE  \
0        NaN          NaN   NaN   NaN    NaN          NaN        NaT
1       13.3         13.4  61.0  31.0   30.0          NaN 2017-08-22
2       14.1         14.2  60.5  31.5   29.0          NaN 2017-08-22
3       14.2         14.5  61.5  31.0   30.5          NaN 2017-08-23
4       12.4         12.7  71.0  34.5   36.5          NaN 2017-08-23
5       14.1         13.4  63.5  32.0   31.5          NaN 2017-08-23
6       13.9         14.4  69.0  36.5   32.5          NaN 2017-08-24
7       14.3         14.3  64.0  33.0   31.0          NaN 2017-08-28
8       13.2         14.2  67.5  33.5   34.0          NaN        NaT
9       14.3         14.5  67.5  33.5   34.0          NaN        NaT
10       NaN          NaN   NaN   NaN    NaN          NaN        NaT
11       NaN          NaN   NaN   NaN    NaN          NaN        NaT
12       NaN          NaN   NaN   NaN    NaN          NaN        NaT
13       NaN          NaN   NaN   NaN    NaN          NaN        NaT
14       NaN          NaN   NaN   NaN    NaN          NaN        NaT
15       NaN          NaN   NaN   NaN    NaN          NaN        NaT
16       NaN          NaN   NaN   NaN    NaN          NaN        NaT
17       NaN          NaN   NaN   NaN    NaN          NaN        NaT
18      14.2         14.9  61.0  31.0   30.0          NaN 2017-08-23
19      14.7         14.8  64.5  32.5   32.0          NaN 2017-08-23
20      14.2         16.1  73.5  36.5   37.0          NaN 2017-08-22
21      13.8         13.9  65.5  33.0   32.5          NaN 2017-08-23
22      14.1         14.3  59.5  29.5   30.0          NaN 2017-08-22
23       NaN          NaN   NaN   NaN    NaN          NaN        NaT
24       NaN          NaN   NaN   NaN    NaN          NaN        NaT
25       NaN          NaN   NaN   NaN    NaN          NaN        NaT
26       NaN          NaN   NaN   NaN    NaN          NaN        NaT
27       NaN          NaN   NaN   NaN    NaN          NaN        NaT
28      14.1         14.6  65.0  32.5   32.5          NaN 2017-08-22

    Unnamed: 12          Pictures**
0           NaN                 NaN
1           NaN                 NaN
2           NaN                 NaN
3           NaN                 NaN
4           NaN                 NaN
5           NaN                 NaN
6           NaN                 NaN
7           NaN                 NaN
8           NaN                 NaN
9           NaN  get pics from him
10          NaN                 NaN
11          NaN                 NaN
12          NaN                 NaN
13          NaN                 NaN
14          NaN                 NaN
15          NaN                 NaN
16          NaN                 NaN
17          NaN                 NaN
18          NaN                 NaN
19          NaN                 NaN
20          NaN                 NaN
21          NaN                 NaN
22          NaN                 NaN
23          NaN                 NaN
24          NaN                 NaN
25          NaN                 NaN
26          NaN                 NaN
27          NaN                 NaN
28          NaN                 NaN

In [10]:
import pandas as pd
import numpy as np
data = pd.read_excel("SuperLighData.xlsx", nrows = 12)
print data

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-10-331c4b376418>, line 4)

In [11]:
print(data)

    Number                Subject    Ethnicity Gender  Circumference  \
0      NaN  Group A (Large Heads)          NaN    NaN            NaN
1      1.0                 Mike D    Caucasian      M           61.7
2      2.0               Nathan F    Caucasian      M           59.4
3      3.0          George Janour  Caucasian        M           59.1
4      4.0            Tayo Akanni     African       M           61.1
5      5.0           Nick Antony    Caucasian      M            59.6
6      6.0           Bill Bradley     African      M            59.6
7      7.0            Edward Mina    Caucasian      M           59.5
8      8.0          Mark Eastwood    Caucasian      M           61.5
9      9.0        Matthew Beasley    Caucasian      M           61.0
10    10.0                    NaN          NaN    NaN            NaN
11     NaN                    NaN          NaN    NaN            NaN
12     NaN                    NaN          NaN    NaN            NaN
13     NaN                    NaN          NaN    NaN            NaN
14     NaN                    NaN          NaN    NaN            NaN
15     NaN         Group B Asian           NaN    NaN            NaN
16     NaN                    NaN          NaN    NaN            NaN
17     NaN                    NaN          NaN    NaN            NaN
18     1.0               Rob Lee       Korean       M           58.9
19     2.0           Ron Espritu     Phllipino      M           58.4
20     3.0             Brendan H      Chinese       M           60.6
21     4.0       Anirudh Bhargava      Indian       M           59.2
22     5.0                 Vivek       Indian       M           59.0
23     6.0                    NaN          NaN    NaN            NaN
24     7.0                    NaN          NaN    NaN            NaN
25     8.0                    NaN          NaN    NaN            NaN
26     9.0                    NaN          NaN    NaN            NaN
27    10.0                    NaN          NaN    NaN            NaN
28     NaN                 Amery      Chinese      M            56.6

    OETT top  OETT bottom   IPD  Left  Right  Unnamed: 10     **DATE  \
0        NaN          NaN   NaN   NaN    NaN          NaN        NaT
1       13.3         13.4  61.0  31.0   30.0          NaN 2017-08-22
2       14.1         14.2  60.5  31.5   29.0          NaN 2017-08-22
3       14.2         14.5  61.5  31.0   30.5          NaN 2017-08-23
4       12.4         12.7  71.0  34.5   36.5          NaN 2017-08-23
5       14.1         13.4  63.5  32.0   31.5          NaN 2017-08-23
6       13.9         14.4  69.0  36.5   32.5          NaN 2017-08-24
7       14.3         14.3  64.0  33.0   31.0          NaN 2017-08-28
8       13.2         14.2  67.5  33.5   34.0          NaN        NaT
9       14.3         14.5  67.5  33.5   34.0          NaN        NaT
10       NaN          NaN   NaN   NaN    NaN          NaN        NaT
11       NaN          NaN   NaN   NaN    NaN          NaN        NaT
12       NaN          NaN   NaN   NaN    NaN          NaN        NaT
13       NaN          NaN   NaN   NaN    NaN          NaN        NaT
14       NaN          NaN   NaN   NaN    NaN          NaN        NaT
15       NaN          NaN   NaN   NaN    NaN          NaN        NaT
16       NaN          NaN   NaN   NaN    NaN          NaN        NaT
17       NaN          NaN   NaN   NaN    NaN          NaN        NaT
18      14.2         14.9  61.0  31.0   30.0          NaN 2017-08-23
19      14.7         14.8  64.5  32.5   32.0          NaN 2017-08-23
20      14.2         16.1  73.5  36.5   37.0          NaN 2017-08-22
21      13.8         13.9  65.5  33.0   32.5          NaN 2017-08-23
22      14.1         14.3  59.5  29.5   30.0          NaN 2017-08-22
23       NaN          NaN   NaN   NaN    NaN          NaN        NaT
24       NaN          NaN   NaN   NaN    NaN          NaN        NaT
25       NaN          NaN   NaN   NaN    NaN          NaN        NaT
26       NaN          NaN   NaN   NaN    NaN          NaN        NaT
27       NaN          NaN   NaN   NaN    NaN          NaN        NaT
28      14.1         14.6  65.0  32.5   32.5          NaN 2017-08-22

    Unnamed: 12          Pictures**
0           NaN                 NaN
1           NaN                 NaN
2           NaN                 NaN
3           NaN                 NaN
4           NaN                 NaN
5           NaN                 NaN
6           NaN                 NaN
7           NaN                 NaN
8           NaN                 NaN
9           NaN  get pics from him
10          NaN                 NaN
11          NaN                 NaN
12          NaN                 NaN
13          NaN                 NaN
14          NaN                 NaN
15          NaN                 NaN
16          NaN                 NaN
17          NaN                 NaN
18          NaN                 NaN
19          NaN                 NaN
20          NaN                 NaN
21          NaN                 NaN
22          NaN                 NaN
23          NaN                 NaN
24          NaN                 NaN
25          NaN                 NaN
26          NaN                 NaN
27          NaN                 NaN
28          NaN                 NaN

In [12]:
import pandas as pd
import numpy as np
data = pd.read_excel("SuperLighData.xlsx", nrows = 12)
print(data)

    Number                Subject    Ethnicity Gender  Circumference  \
0      NaN  Group A (Large Heads)          NaN    NaN            NaN
1      1.0                 Mike D    Caucasian      M           61.7
2      2.0               Nathan F    Caucasian      M           59.4
3      3.0          George Janour  Caucasian        M           59.1
4      4.0            Tayo Akanni     African       M           61.1
5      5.0           Nick Antony    Caucasian      M            59.6
6      6.0           Bill Bradley     African      M            59.6
7      7.0            Edward Mina    Caucasian      M           59.5
8      8.0          Mark Eastwood    Caucasian      M           61.5
9      9.0        Matthew Beasley    Caucasian      M           61.0
10    10.0                    NaN          NaN    NaN            NaN
11     NaN                    NaN          NaN    NaN            NaN
12     NaN                    NaN          NaN    NaN            NaN
13     NaN                    NaN          NaN    NaN            NaN
14     NaN                    NaN          NaN    NaN            NaN
15     NaN         Group B Asian           NaN    NaN            NaN
16     NaN                    NaN          NaN    NaN            NaN
17     NaN                    NaN          NaN    NaN            NaN
18     1.0               Rob Lee       Korean       M           58.9
19     2.0           Ron Espritu     Phllipino      M           58.4
20     3.0             Brendan H      Chinese       M           60.6
21     4.0       Anirudh Bhargava      Indian       M           59.2
22     5.0                 Vivek       Indian       M           59.0
23     6.0                    NaN          NaN    NaN            NaN
24     7.0                    NaN          NaN    NaN            NaN
25     8.0                    NaN          NaN    NaN            NaN
26     9.0                    NaN          NaN    NaN            NaN
27    10.0                    NaN          NaN    NaN            NaN
28     NaN                 Amery      Chinese      M            56.6

    OETT top  OETT bottom   IPD  Left  Right  Unnamed: 10     **DATE  \
0        NaN          NaN   NaN   NaN    NaN          NaN        NaT
1       13.3         13.4  61.0  31.0   30.0          NaN 2017-08-22
2       14.1         14.2  60.5  31.5   29.0          NaN 2017-08-22
3       14.2         14.5  61.5  31.0   30.5          NaN 2017-08-23
4       12.4         12.7  71.0  34.5   36.5          NaN 2017-08-23
5       14.1         13.4  63.5  32.0   31.5          NaN 2017-08-23
6       13.9         14.4  69.0  36.5   32.5          NaN 2017-08-24
7       14.3         14.3  64.0  33.0   31.0          NaN 2017-08-28
8       13.2         14.2  67.5  33.5   34.0          NaN        NaT
9       14.3         14.5  67.5  33.5   34.0          NaN        NaT
10       NaN          NaN   NaN   NaN    NaN          NaN        NaT
11       NaN          NaN   NaN   NaN    NaN          NaN        NaT
12       NaN          NaN   NaN   NaN    NaN          NaN        NaT
13       NaN          NaN   NaN   NaN    NaN          NaN        NaT
14       NaN          NaN   NaN   NaN    NaN          NaN        NaT
15       NaN          NaN   NaN   NaN    NaN          NaN        NaT
16       NaN          NaN   NaN   NaN    NaN          NaN        NaT
17       NaN          NaN   NaN   NaN    NaN          NaN        NaT
18      14.2         14.9  61.0  31.0   30.0          NaN 2017-08-23
19      14.7         14.8  64.5  32.5   32.0          NaN 2017-08-23
20      14.2         16.1  73.5  36.5   37.0          NaN 2017-08-22
21      13.8         13.9  65.5  33.0   32.5          NaN 2017-08-23
22      14.1         14.3  59.5  29.5   30.0          NaN 2017-08-22
23       NaN          NaN   NaN   NaN    NaN          NaN        NaT
24       NaN          NaN   NaN   NaN    NaN          NaN        NaT
25       NaN          NaN   NaN   NaN    NaN          NaN        NaT
26       NaN          NaN   NaN   NaN    NaN          NaN        NaT
27       NaN          NaN   NaN   NaN    NaN          NaN        NaT
28      14.1         14.6  65.0  32.5   32.5          NaN 2017-08-22

    Unnamed: 12          Pictures**
0           NaN                 NaN
1           NaN                 NaN
2           NaN                 NaN
3           NaN                 NaN
4           NaN                 NaN
5           NaN                 NaN
6           NaN                 NaN
7           NaN                 NaN
8           NaN                 NaN
9           NaN  get pics from him
10          NaN                 NaN
11          NaN                 NaN
12          NaN                 NaN
13          NaN                 NaN
14          NaN                 NaN
15          NaN                 NaN
16          NaN                 NaN
17          NaN                 NaN
18          NaN                 NaN
19          NaN                 NaN
20          NaN                 NaN
21          NaN                 NaN
22          NaN                 NaN
23          NaN                 NaN
24          NaN                 NaN
25          NaN                 NaN
26          NaN                 NaN
27          NaN                 NaN
28          NaN                 NaN

In [13]:
import pandas as pd
import numpy as np
data = pd.read_excel("SuperLighData.xlsx", skip_footer = 15)
print data

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-13-a2461fa10e10>, line 4)

In [14]:
import pandas as pd
import numpy as np
data = pd.read_excel("SuperLighData.xlsx", skip_footer = 16)
print(data)

    Number                Subject    Ethnicity Gender  Circumference  \
0      NaN  Group A (Large Heads)          NaN    NaN            NaN
1      1.0                 Mike D    Caucasian      M           61.7
2      2.0               Nathan F    Caucasian      M           59.4
3      3.0          George Janour  Caucasian        M           59.1
4      4.0            Tayo Akanni     African       M           61.1
5      5.0           Nick Antony    Caucasian      M            59.6
6      6.0           Bill Bradley     African      M            59.6
7      7.0            Edward Mina    Caucasian      M           59.5
8      8.0          Mark Eastwood    Caucasian      M           61.5
9      9.0        Matthew Beasley    Caucasian      M           61.0
10    10.0                    NaN          NaN    NaN            NaN
11     NaN                    NaN          NaN    NaN            NaN
12     NaN                    NaN          NaN    NaN            NaN

    OETT top  OETT bottom   IPD  Left  Right  Unnamed: 10     **DATE  \
0        NaN          NaN   NaN   NaN    NaN          NaN        NaT
1       13.3         13.4  61.0  31.0   30.0          NaN 2017-08-22
2       14.1         14.2  60.5  31.5   29.0          NaN 2017-08-22
3       14.2         14.5  61.5  31.0   30.5          NaN 2017-08-23
4       12.4         12.7  71.0  34.5   36.5          NaN 2017-08-23
5       14.1         13.4  63.5  32.0   31.5          NaN 2017-08-23
6       13.9         14.4  69.0  36.5   32.5          NaN 2017-08-24
7       14.3         14.3  64.0  33.0   31.0          NaN 2017-08-28
8       13.2         14.2  67.5  33.5   34.0          NaN        NaT
9       14.3         14.5  67.5  33.5   34.0          NaN        NaT
10       NaN          NaN   NaN   NaN    NaN          NaN        NaT
11       NaN          NaN   NaN   NaN    NaN          NaN        NaT
12       NaN          NaN   NaN   NaN    NaN          NaN        NaT

    Unnamed: 12          Pictures**
0           NaN                 NaN
1           NaN                 NaN
2           NaN                 NaN
3           NaN                 NaN
4           NaN                 NaN
5           NaN                 NaN
6           NaN                 NaN
7           NaN                 NaN
8           NaN                 NaN
9           NaN  get pics from him
10          NaN                 NaN
11          NaN                 NaN
12          NaN                 NaN

In [15]:
import pandas as pd
import numpy as np
data = pd.read_excel("SuperLighData.xlsx", skip_footer = 14)
print(data)

    Number                Subject    Ethnicity Gender  Circumference  \
0      NaN  Group A (Large Heads)          NaN    NaN            NaN
1      1.0                 Mike D    Caucasian      M           61.7
2      2.0               Nathan F    Caucasian      M           59.4
3      3.0          George Janour  Caucasian        M           59.1
4      4.0            Tayo Akanni     African       M           61.1
5      5.0           Nick Antony    Caucasian      M            59.6
6      6.0           Bill Bradley     African      M            59.6
7      7.0            Edward Mina    Caucasian      M           59.5
8      8.0          Mark Eastwood    Caucasian      M           61.5
9      9.0        Matthew Beasley    Caucasian      M           61.0
10    10.0                    NaN          NaN    NaN            NaN
11     NaN                    NaN          NaN    NaN            NaN
12     NaN                    NaN          NaN    NaN            NaN
13     NaN                    NaN          NaN    NaN            NaN
14     NaN                    NaN          NaN    NaN            NaN

    OETT top  OETT bottom   IPD  Left  Right  Unnamed: 10     **DATE  \
0        NaN          NaN   NaN   NaN    NaN          NaN        NaT
1       13.3         13.4  61.0  31.0   30.0          NaN 2017-08-22
2       14.1         14.2  60.5  31.5   29.0          NaN 2017-08-22
3       14.2         14.5  61.5  31.0   30.5          NaN 2017-08-23
4       12.4         12.7  71.0  34.5   36.5          NaN 2017-08-23
5       14.1         13.4  63.5  32.0   31.5          NaN 2017-08-23
6       13.9         14.4  69.0  36.5   32.5          NaN 2017-08-24
7       14.3         14.3  64.0  33.0   31.0          NaN 2017-08-28
8       13.2         14.2  67.5  33.5   34.0          NaN        NaT
9       14.3         14.5  67.5  33.5   34.0          NaN        NaT
10       NaN          NaN   NaN   NaN    NaN          NaN        NaT
11       NaN          NaN   NaN   NaN    NaN          NaN        NaT
12       NaN          NaN   NaN   NaN    NaN          NaN        NaT
13       NaN          NaN   NaN   NaN    NaN          NaN        NaT
14       NaN          NaN   NaN   NaN    NaN          NaN        NaT

    Unnamed: 12          Pictures**
0           NaN                 NaN
1           NaN                 NaN
2           NaN                 NaN
3           NaN                 NaN
4           NaN                 NaN
5           NaN                 NaN
6           NaN                 NaN
7           NaN                 NaN
8           NaN                 NaN
9           NaN  get pics from him
10          NaN                 NaN
11          NaN                 NaN
12          NaN                 NaN
13          NaN                 NaN
14          NaN                 NaN

In [16]:
import pandas as pd
import numpy as np
data = pd.read_excel("SuperLighData.xlsx", skip_footer = 18)
print(data)

    Number                Subject    Ethnicity Gender  Circumference  \
0      NaN  Group A (Large Heads)          NaN    NaN            NaN
1      1.0                 Mike D    Caucasian      M           61.7
2      2.0               Nathan F    Caucasian      M           59.4
3      3.0          George Janour  Caucasian        M           59.1
4      4.0            Tayo Akanni     African       M           61.1
5      5.0           Nick Antony    Caucasian      M            59.6
6      6.0           Bill Bradley     African      M            59.6
7      7.0            Edward Mina    Caucasian      M           59.5
8      8.0          Mark Eastwood    Caucasian      M           61.5
9      9.0        Matthew Beasley    Caucasian      M           61.0
10    10.0                    NaN          NaN    NaN            NaN

    OETT top  OETT bottom   IPD  Left  Right  Unnamed: 10     **DATE  \
0        NaN          NaN   NaN   NaN    NaN          NaN        NaT
1       13.3         13.4  61.0  31.0   30.0          NaN 2017-08-22
2       14.1         14.2  60.5  31.5   29.0          NaN 2017-08-22
3       14.2         14.5  61.5  31.0   30.5          NaN 2017-08-23
4       12.4         12.7  71.0  34.5   36.5          NaN 2017-08-23
5       14.1         13.4  63.5  32.0   31.5          NaN 2017-08-23
6       13.9         14.4  69.0  36.5   32.5          NaN 2017-08-24
7       14.3         14.3  64.0  33.0   31.0          NaN 2017-08-28
8       13.2         14.2  67.5  33.5   34.0          NaN        NaT
9       14.3         14.5  67.5  33.5   34.0          NaN        NaT
10       NaN          NaN   NaN   NaN    NaN          NaN        NaT

    Unnamed: 12          Pictures**
0           NaN                 NaN
1           NaN                 NaN
2           NaN                 NaN
3           NaN                 NaN
4           NaN                 NaN
5           NaN                 NaN
6           NaN                 NaN
7           NaN                 NaN
8           NaN                 NaN
9           NaN  get pics from him
10          NaN                 NaN

In [ ]:
import pandas as pd
import numpy as np
data = pd.read_excel("SuperLighData.xlsx", skiprows = 18)
print(data)